

/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap"); */

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}


.img{width:  10%;
    display: block;
    
    border-radius: 30px;
    
}

.App {
  text-align: center;
}

button {
  width:80px;
  height: 60px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: whitesmoke;
  border: none;
  font-family: inherit;
}

button:hover {
  border: 1px solid dodgerblue;
  background-color: whitesmoke;
  color: dodgerblue;
}

/* input {
  width: 114px;
  height: 24px;
  border-radius: 5px;
  background-color: orange;
  color: whitesmoke;
  border: none;
  font-family: inherit;
  margin-top: 6px;
} */
/* 

.mina-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item-list {
  display: flex;
  justify-content: space-around;
}

.card {
  border: 1px solid #222;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 10px #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min-content;
  padding: 20px;
}

/* .danger {
  background-color: red;
} */

