.h1{
    background-color: red;
text-align: center;

}


.img{width:  10%;
    display: block;
    
    border-radius: 30px;
    
}


/* .App{ background-color: brown;

} */







.but{
    height: 30px;
    width: 250px; 
   color: black;
  background-color:blueviolet;
 text-align: center;

}
